@charset "UTF-8";
/*                ヘッダー
======================================================= */
.l-hd {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
}

.p-hd {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 40px;
  width: 100%;
  height: 100px;
  transition: background-color 0.3s;
}
@media only screen and (max-width: 767px) {
  .p-hd {
    height: 60px;
    padding: 0 0 0 17px;
  }
}
.p-hd.scroll {
  background-color: #fff;
}

.p-hd__logo {
  max-width: 146px;
}
@media only screen and (max-width: 480px) {
  .p-hd__logo {
    max-width: 128px;
  }
}

/*                メニューボタン
======================================================= */
.l-sp-menu-btn {
  position: fixed;
  width: 30px;
  height: 20px;
  top: 39px;
  right: 40px;
  z-index: 9999;
}
.l-sp-menu-btn--home .p-sp-menu-btn__border {
  background: #fff;
}
@media only screen and (max-width: 767px) {
  .l-sp-menu-btn {
    top: 19px;
    right: 20px;
  }
}
.l-sp-menu-btn.scroll:not(.is-active) .p-sp-menu-btn__border {
  background-color: #000;
}

.p-sp-menu-btn {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.p-sp-menu-btn__border {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: #000;
  transition: 0.5s;
}
.p-sp-menu-btn__border--01 {
  top: 0;
}
.p-sp-menu-btn__border--02 {
  top: 10px;
}
.p-sp-menu-btn__border--03 {
  top: 20px;
}

.is-active .p-sp-menu-btn__border {
  background: #fff;
}
.is-active .p-sp-menu-btn__border--01 {
  top: 2px;
  transform: translateY(8px) rotate(45deg);
}
.is-active .p-sp-menu-btn__border--02 {
  opacity: 0;
}
.is-active .p-sp-menu-btn__border--03 {
  top: 14px;
  transform: translateY(-4px) rotate(-45deg);
}

/*               ハンバーガーメニュー
======================================================= */
.l-sp-menu {
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7019607843);
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s;
  z-index: 1000;
}
.l-sp-menu.is_open {
  right: 0;
  transition: all 0.4s;
}

.p-sp-menu {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-sp-menu__list {
  width: 100%;
  max-width: 206px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .p-sp-menu__list {
    position: relative;
    top: 36px;
  }
}

.p-sp-menu__item {
  border-bottom: 1px solid #fff;
  padding: 26px 0;
}
.p-sp-menu__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .p-sp-menu__item:hover > .p-sp-menu__link {
    transition: 0.5s;
    opacity: 0.5;
  }
}
@media only screen and (max-width: 767px) {
  .p-sp-menu__item {
    padding: 21px 0 22px;
    position: relative;
    top: -10px;
  }
}

.p-sp-menu__link {
  font-size: 20px;
  color: #fff;
  letter-spacing: 0;
}
@media only screen and (max-width: 767px) {
  .p-sp-menu__link {
    font-size: 18px;
    line-height: 0.94;
  }
}

.p-sp-menu__sns-list {
  display: flex;
  margin-top: 83px;
  width: 129px;
}
@media only screen and (min-width: 481px) {
  .p-sp-menu__sns-list {
    display: none;
  }
}

.p-sp-menu__sns-item {
  margin-left: 22px;
  min-width: 30px;
}
.p-sp-menu__sns-item:first-child {
  margin-left: 0;
}

.p-sp-menu__tel {
  color: #fff;
  text-align: center;
  margin-top: 38px;
}
@media only screen and (min-width: 481px) {
  .p-sp-menu__tel {
    display: none;
  }
}

.p-sp-menu__tel-text {
  color: #fff;
  letter-spacing: 0.1em;
}

.p-sp-menu__tel-link {
  color: #fff;
}

body.is_sp_menu_open {
  overflow: hidden;
}

/*                  ファーストビュー
=====================================================================*/
.p-first-view {
  position: relative;
  height: 100vh;
  min-height: 500px;
  margin-top: -100px;
}
@media only screen and (max-width: 767px) {
  .p-first-view {
    margin-top: -60px;
  }
}

.p-first-view__fv-slide {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  position: relative;
}

.p-first-view__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes kv_zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
.swiper-slide-active .p-first-view__img,
.swiper-slide-prev .p-first-view__img,
.swiper-slide-duplicate-active .p-first-view__img,
.swiper-slide-duplicate-prev .p-first-view__img {
  animation: kv_zoom 10s linear 0s normal both;
}

.p-first-view__fv-message {
  writing-mode: vertical-rl;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p-first-view__fv-vertical {
  color: #fff;
  font-size: 20px;
  line-height: 1.1;
  margin-right: 60px;
}
.p-first-view__fv-vertical:first-child {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .p-first-view__fv-vertical {
    letter-spacing: 0.25em;
    line-height: 1;
  }
}
@media only screen and (max-width: 480px) {
  .p-first-view__fv-vertical {
    margin-right: 30px;
    font-style: 16px;
  }
}

.p-first-view__fv-logo {
  position: absolute;
  left: 80px;
  bottom: 74px;
  max-width: 400px;
}
@media only screen and (max-width: 767px) {
  .p-first-view__fv-logo {
    display: none;
  }
}

.p-first-view__pagination-wrap {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
@media only screen and (max-width: 767px) {
  .p-first-view__pagination-wrap {
    right: 50%;
    transform: translateX(50%);
    bottom: 10px;
  }
}

.p-first-view__pagination {
  display: flex;
}

.swiper-pagination-bullet {
  position: relative;
  background-color: transparent;
  width: 30px;
  margin: 0 7px !important;
  opacity: 1;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  background-color: #6A7541;
}

/*              reserve_btn
======================================================= */
.p-reserve-btn {
  position: fixed;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #6A7541;
  width: 60px;
  height: 130px;
  transition: all 0.5;
}
.p-reserve-btn.is-bottom {
  opacity: 0;
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .p-reserve-btn:hover {
    opacity: 0.8;
  }
}

.p-reserve-btn__btn {
  writing-mode: vertical-rl;
  color: #fff;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=home_first_view.css.map */